[Unit]
Description=Aptos Hong Bao Backend Container
Wants=network.target
After=network-online.target

[Service]
Restart=on-failure
TimeoutStopSec=10

ExecStart=/home/dport/aptos-hong-bao-backend/target/release/aptos-hong-bao-backend \
    --listen-port 8889 \
    --fullnode-url https://fullnode.testnet.aptoslabs.com \
    --indexer-url https://indexer-testnet.staging.gcp.aptosdev.com/v1/graphql

[Install]
WantedBy=multi-user.target default.target
